.t-site-header {
    background-color: rgba(0, 15, 30, 0.02);
    height: auto;
    width: 100%;
    margin-bottom: 26px;
    border: rgba(68, 68, 68, 0.11) solid 1px;
    &__nav{
        display: flex;
        justify-content: space-between;
        align-content: center;
        min-height: 64px;
    }
    &__home{
        display: flex;
        align-items: center;
    }
    &__logoImg {
        width: 36px;
    }
    &__logoText{
        font-size: $font-size-2;
        font-family: Arial;
        color: $blue-text;
        margin: 0 0 0 15px;
    }
    &__center{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__link{
        margin: 10px;
        font-size: $font-size-3;
    }

}