.transaction{
  display: flex;
  justify-content: space-between;
  margin: 5px;
  border-bottom: #343a40 2px solid;

  &__properties{
    display: flex;
    align-items: baseline;
  }
  &__name{
    color: #3B99E1;
    margin: 0 15px 0 15px;
    font-size: 18px;
    font-weight: bold;
  }
  &__category{
    font-style: italic;
  }
  &__price{
    margin: 0 15px 0 15px;
  }
}
